*~
*.la
*.lo
*.o
*.pc
*.swp
.deps
.dirstamp
.libs
/append2simg
/config.h
/config.h.in
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.lt
/config.status
/configure
/img2simg
/libcutils/tst_str_parms
/libzipfile/test_zipfile
/libtool
/m4
/processgroup_cleanup
/simg2img
/stamp-h1
