*~
*.la
*.lo
*.o
*.pc
*.swp
.deps
.dirstamp
.libs
/config.h
/config.h.in
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.lt
/config.status
/configure
/libcutils/tst_str_parms
/libtool
/m4
/stamp-h1
