Source: android-system-core2
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               autoconf-archive,
               pkg-config,
               libandroid-base0-dev (>= 0.0.12),
               libandroid-bionic0-dev (>= 0.1.4),
               libandroid-cutils0-dev (>= 0.0.12),
               libandroid-log0-dev (>= 0.0.12),
               libandroid-nativehelper0-dev (>= 0.0.4),
               libandroid-unwind8-dev (>= 0.0.3),
               libgtest-dev,
               libsafe-iop-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-system-core2
Vcs-Git: https://github.com/laarid/package_android-system-core2.git
Vcs-Browser: https://github.com/laarid/package_android-system-core2

Package: libandroid-backtrace0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-backtrace0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libunwind8-dev,
         ${misc:Depends}
Description: Android libbacktrace - development
 This package contains libbacktrace built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-backtrace0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libbacktrace
 This package contains libbacktrace built from Android platform/system/core.

Package: libandroid-nativebridge0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-nativebridge0 (= ${binary:Version}),
         libandroid-nativehelper0-dev,
         ${misc:Depends}
Description: Android libnativebridge - development
 This package contains libnativebridge built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-nativebridge0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libnativebridge
 This package contains libnativebridge built from Android platform/system/core.

Package: libandroid-utils0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-utils0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         ${misc:Depends}
Description: Android libutils - development
 This package contains libutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-utils0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libutils
 This package contains libutils built from Android platform/system/core.

Package: libandroid-processgroup0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-processgroup0 (= ${binary:Version}),
         libandroid-utils0-dev,
         ${misc:Depends}
Description: Android libprocessgroup - development
 This package contains libprocessgroup built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-processgroup0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libprocessgroup
 This package contains libprocessgroup built from Android platform/system/core.

Package: libandroid-ziparchive0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-ziparchive0 (= ${binary:Version}),
         libandroid-utils0-dev,
         zlib1g-dev,
         ${misc:Depends}
Description: Android libziparchive - development
 This package contains libziparchive built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-ziparchive0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libziparchive
 This package contains libziparchive built from Android platform/system/core.
