Source: android-system-core
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               autoconf-archive,
               pkg-config,
               libandroid-bionic0-dev (>= 0.1.4),
               libgtest-dev,
               libnl-3-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-system-core
Vcs-Git: https://github.com/laarid/package_android-system-core.git
Vcs-Browser: https://github.com/laarid/package_android-system-core

Package: libandroid-log0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-log0 (= ${binary:Version}),
         libandroid-bionic0-dev,
         ${misc:Depends}
Description: Android liblog - development
 This package contains liblog built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-log0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android liblog
 This package contains liblog built from Android platform/system/core.

Package: libandroid-mincrypt0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-mincrypt0 (= ${binary:Version}),
         ${misc:Depends}
Description: Android libmincrypt - development
 This package contains libmincrypt built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-mincrypt0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libmincrypt
 This package contains libmincrypt built from Android platform/system/core.

Package: libandroid-sparse0-bin
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends: libandroid-sparse0 (= ${binary:Version}),
         python,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Android libsparse - utilities
 This package contains libsparse built from Android platform/system/core.
 .
 This package contains the utilities which are used by the libraries
 and other packages.

Package: libandroid-sparse0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-sparse0 (= ${binary:Version}),
         zlib1g-dev,
         ${misc:Depends}
Description: Android libsparse - development
 This package contains libsparse built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sparse0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libsparse
 This package contains libsparse built from Android platform/system/core.

Package: libandroid-cutils0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-cutils0 (= ${binary:Version}),
         libandroid-log0-dev,
         libandroid-bionic0-dev,
         ${misc:Depends}
Description: Android libcutils - development
 This package contains libcutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-cutils0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libcutils
 This package contains libcutils built from Android platform/system/core.

Package: libandroid-ion0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-ion0 (= ${binary:Version}),
         libandroid-log0-dev,
         libandroid-bionic0-dev,
         ${misc:Depends}
Description: Android libion - development
 This package contains libion built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-ion0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libion
 This package contains libion built from Android platform/system/core.

Package: libandroid-sync0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-sync0 (= ${binary:Version}),
         libandroid-bionic0-dev (>= 0.1.4),
         ${misc:Depends}
Description: Android libsync - development
 This package contains libsync built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sync0-tests
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: no
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libsync - test tools
 This package contains libsync built from Android platform/system/core.
 .
 This package contains the test tools.

Package: libandroid-sync0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libsync
 This package contains libsync built from Android platform/system/core.

Package: libandroid-base0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-base0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libbase - development
 This package contains libbase built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-base0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libbase
 This package contains libbase built from Android platform/system/core.

Package: libandroid-diskconfig0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-diskconfig0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libdiskconfig - development
 This package contains libdiskconfig built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-diskconfig0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libdiskconfig
 This package contains libdiskconfig built from Android platform/system/core.

Package: logwrapper
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Android logwrapper
 This package contains logwrapper.

Package: libandroid-logwrap0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-logwrap0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android liblogwrap - development
 This package contains liblogwrap built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-logwrap0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android liblogwrap
 This package contains liblogwrap built from Android platform/system/core.

Package: libandroid-netutils0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-netutils0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libnetutils - development
 This package contains libnetutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-netutils0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libnetutils
 This package contains libnetutils built from Android platform/system/core.

Package: libandroid-suspend0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-suspend0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libsuspend - development
 This package contains libsuspend built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-suspend0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libsuspend
 This package contains libsuspend built from Android platform/system/core.

Package: libandroid-sysutils0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-sysutils0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libsysutils - development
 This package contains libsysutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sysutils0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libsysutils
 This package contains libsysutils built from Android platform/system/core.

Package: libandroid-usbhost0-dev
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libandroid-usbhost0 (= ${binary:Version}),
         libandroid-cutils0-dev,
         libandroid-log0-dev,
         ${misc:Depends}
Description: Android libusbhost - development
 This package contains libusbhost built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-usbhost0
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Android libusbhost
 This package contains libusbhost built from Android platform/system/core.
