Source: android-system-core
Priority: extra
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 autoconf-archive,
 pkg-config,
 libandroid-base0-dev (>= 0.0.12) <pkg.android-system-core.stage2>,
 libandroid-bionic0-dev (>= 0.1.5),
 libandroid-cutils0-dev (>= 0.0.12) <pkg.android-system-core.stage2>,
 libandroid-log0-dev (>= 0.0.12) <pkg.android-system-core.stage2>,
 libandroid-nativehelper0-dev (>= 0.0.4) <pkg.android-system-core.stage2>,
 libandroid-unwind8-dev (>= 0.0.3) <pkg.android-system-core.stage2>,
 libgtest-dev <!debbuildopt.nocheck>,
 libltdl-dev,
 libnl-3-dev <!pkg.android-system-core.stage2>,
 libsafe-iop-dev <pkg.android-system-core.stage2>,
 zlib1g-dev,
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/laarid/package_android-system-core
Vcs-Git: https://github.com/laarid/package_android-system-core.git
Vcs-Browser: https://github.com/laarid/package_android-system-core

Package: libandroid-backtrace0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libbacktrace
 This package contains libbacktrace built from Android platform/system/core.

Package: libandroid-backtrace0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-backtrace0 (= ${binary:Version}),
 libandroid-base0-dev (>= 0.0.12),
 libandroid-bionic0-dev (>= 0.1.5),
 libandroid-log0-dev (>= 0.0.12),
 libandroid-unwind8-dev (>= 0.0.3),
 ${misc:Depends},
Description: Android libbacktrace - development
 This package contains libbacktrace built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-base0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libbase
 This package contains libbase built from Android platform/system/core.

Package: libandroid-base0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-base0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.5),
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android libbase - development
 This package contains libbase built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-cutils0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libcutils
 This package contains libcutils built from Android platform/system/core.

Package: libandroid-cutils0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-cutils0 (= ${binary:Version}),
 libandroid-log0-dev,
 libandroid-bionic0-dev (>= 0.1.5),
 ${misc:Depends},
Description: Android libcutils - development
 This package contains libcutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-diskconfig0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libdiskconfig
 This package contains libdiskconfig built from Android platform/system/core.

Package: libandroid-diskconfig0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-diskconfig0 (= ${binary:Version}),
 libandroid-cutils0-dev,
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android libdiskconfig - development
 This package contains libdiskconfig built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-ion0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libion
 This package contains libion built from Android platform/system/core.

Package: libandroid-ion0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-ion0 (= ${binary:Version}),
 libandroid-log0-dev,
 libandroid-bionic0-dev (>= 0.1.5),
 ${misc:Depends},
Description: Android libion - development
 This package contains libion built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-log0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android liblog
 This package contains liblog built from Android platform/system/core.

Package: libandroid-log0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-log0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.5),
 ${misc:Depends},
Description: Android liblog - development
 This package contains liblog built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-logwrap0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android liblogwrap
 This package contains liblogwrap built from Android platform/system/core.

Package: libandroid-logwrap0-bin
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Android logwrapper
 This package contains logwrapper.

Package: libandroid-logwrap0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-logwrap0 (= ${binary:Version}),
 libandroid-cutils0-dev,
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android liblogwrap - development
 This package contains liblogwrap built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-mincrypt0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libmincrypt
 This package contains libmincrypt built from Android platform/system/core.

Package: libandroid-mincrypt0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-mincrypt0 (= ${binary:Version}),
 ${misc:Depends},
Description: Android libmincrypt - development
 This package contains libmincrypt built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-nativebridge0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libnativebridge
 This package contains libnativebridge built from Android platform/system/core.

Package: libandroid-nativebridge0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-nativebridge0 (= ${binary:Version}),
 libandroid-log0-dev (>= 0.0.12),
 libandroid-nativehelper0-dev (>= 0.0.4),
 ${misc:Depends},
Description: Android libnativebridge - development
 This package contains libnativebridge built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-netutils0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libnetutils
 This package contains libnetutils built from Android platform/system/core.

Package: libandroid-netutils0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-netutils0 (= ${binary:Version}),
 libandroid-cutils0-dev,
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android libnetutils - development
 This package contains libnetutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-packagelistparser0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libpackagelistparser
 This package contains libpackagelistparser built from Android
 platform/system/core.

Package: libandroid-packagelistparser0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-packagelistparser0 (= ${binary:Version}),
 libandroid-log0-dev (>= 0.0.12),
 ${misc:Depends},
Description: Android libpackagelistparser - development
 This package contains libpackagelistparser built from Android
 platform/system/core.
 .
 This package contains the development files.

Package: libandroid-pixelflinger0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libpixelflinger
 This package contains libpixelflinger built from Android platform/system/core.

Package: libandroid-pixelflinger0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-pixelflinger0 (= ${binary:Version}),
 libandroid-log0-dev (>= 0.0.12),
 libandroid-cutils0-dev (>= 0.0.12),
 libandroid-utils0-dev,
 ${misc:Depends},
Description: Android libpixelflinger - development
 This package contains libpixelflinger built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-processgroup0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libprocessgroup
 This package contains libprocessgroup built from Android platform/system/core.

Package: libandroid-processgroup0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-processgroup0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.5),
 libandroid-log0-dev (>= 0.0.12),
 libandroid-utils0-dev,
 ${misc:Depends},
Description: Android libprocessgroup - development
 This package contains libprocessgroup built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sparse0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsparse
 This package contains libsparse built from Android platform/system/core.

Package: libandroid-sparse0-bin
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: misc
Architecture: any
Multi-Arch: no
Depends:
 libandroid-sparse0 (= ${binary:Version}),
 python,
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsparse - utilities
 This package contains libsparse built from Android platform/system/core.
 .
 This package contains the utilities which are used by the libraries
 and other packages.

Package: libandroid-sparse0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-sparse0 (= ${binary:Version}),
 zlib1g-dev,
 ${misc:Depends},
Description: Android libsparse - development
 This package contains libsparse built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-suspend0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsuspend
 This package contains libsuspend built from Android platform/system/core.

Package: libandroid-suspend0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-suspend0 (= ${binary:Version}),
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android libsuspend - development
 This package contains libsuspend built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sync0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsync
 This package contains libsync built from Android platform/system/core.

Package: libandroid-sync0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-sync0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.5),
 ${misc:Depends},
Description: Android libsync - development
 This package contains libsync built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-sync0-tests
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: no
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsync - test tools
 This package contains libsync built from Android platform/system/core.
 .
 This package contains the test tools.

Package: libandroid-sysutils0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libsysutils
 This package contains libsysutils built from Android platform/system/core.

Package: libandroid-sysutils0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-sysutils0 (= ${binary:Version}),
 libandroid-cutils0-dev,
 libandroid-log0-dev,
 libnl-3-dev,
 ${misc:Depends},
Description: Android libsysutils - development
 This package contains libsysutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-usbhost0
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libusbhost
 This package contains libusbhost built from Android platform/system/core.

Package: libandroid-usbhost0-dev
Build-Profiles: <!pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-usbhost0 (= ${binary:Version}),
 libandroid-log0-dev,
 ${misc:Depends},
Description: Android libusbhost - development
 This package contains libusbhost built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-utils0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libutils
 This package contains libutils built from Android platform/system/core.

Package: libandroid-utils0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-utils0 (= ${binary:Version}),
 libandroid-bionic0-dev (>= 0.1.5),
 libandroid-backtrace0-dev,
 libandroid-log0-dev (>= 0.0.12),
 libandroid-cutils0-dev (>= 0.0.12),
 ${misc:Depends},
Description: Android libutils - development
 This package contains libutils built from Android platform/system/core.
 .
 This package contains the development files.

Package: libandroid-ziparchive0
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Android libziparchive
 This package contains libziparchive built from Android platform/system/core.

Package: libandroid-ziparchive0-dev
Build-Profiles: <pkg.android-system-core.stage2>
Priority: extra
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libandroid-ziparchive0 (= ${binary:Version}),
 libandroid-base0-dev (>= 0.0.12),
 libandroid-log0-dev (>= 0.0.12),
 libandroid-utils0-dev,
 zlib1g-dev,
 ${misc:Depends},
Description: Android libziparchive - development
 This package contains libziparchive built from Android platform/system/core.
 .
 This package contains the development files.
